h1{
	text-align:center;
}
h2{
	text-align:center;
	font-size: 40px;
}

#showA{
	text-align:center;
	font-size: 40px;
}
#showQ{
	text-align:center;
	font-size: 40px;
}
.interludeText{
	text-align:center;
	font-size: 40px;
}